/* heights and widths */

.h-screen{
    height:100vh;
}
.h-50{
    height:50%;
}
.h-50p{
    height:50px;
}
.h-40p{
    height:40px;
}
.w-screen{
    width:100vw;
}
.w-50{
    width:50%;
}
.w-400{
    width:400px;
}
.w-350{
    width:350px;
}
.w-100{
    width:100%;
}

/* flex */
/* horizontal alignments */
.flex{
    display:flex;
}
.flex-col{
    flex-direction:column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}

/* vertical alignments */
.items-center{
    align-items: center;
}
.items-end{
    align-items:flex-end;
}

/* gap */
.gap-1{
    gap:10px;
}
.gap-2{
    gap:20px;
}
.gap-3{
    gap:30px;
}

/* margins and padding */
.m-1{
    margin:10px;
}
.m-2{
    margin:20px;
}
.m-3{
    margin:30px;
}

.m-top50{
    margin-top:50px;
}
.p-top50{
    padding-top:50px;
}

.p-1{
    padding:10px;
}
.p-2{
    padding:20px;
}
.p-3{
    padding:30px;
}

.p-left{
    padding-left:400px;
}
.p-bottom{
    padding-bottom: 30px;
}